| <%= link_to_remote "Reply",
:url => { :controller => 'comments', :action => 'reply', :parent => comment.id, :article => comment.article },
:loading => 'show_loader()', :complete => 'hide_loader()'  %>