<h1>Editing goal</h1>

<%= start_form_tag :action => 'update', :id => @goal %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @goal %> |
<%= link_to 'Back', :action => 'list' %>
